In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.keys import Keys 
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.by import By
import time

In [2]:
url = 'https://www.imdb.com/feature/genre/?ref_=nv_ch_gr/'

In [3]:
driver = webdriver.Chrome()

In [4]:
driver.get(url)

In [5]:
imdbsoup = BeautifulSoup(driver.page_source)

In [6]:
gen=[element['href'] for element in imdbsoup.select('div.image > a')]

In [7]:
len(gen)

15

In [8]:
driver.get(str(gen[0]))

In [9]:
imdbsoup = BeautifulSoup(driver.page_source)

In [10]:
titulos=[element.text for element in imdbsoup.select('div.lister-item-content > h3.lister-item-header > a')]
años=[element.text.strip('()') for element in imdbsoup.select('div.lister-item-content > h3.lister-item-header > span.lister-item-year.text-muted.unbold')]
generos=[element.text.strip(' \n') for element in imdbsoup.select('span.genre')]

In [11]:
data = {'Titulo': titulos, 'Año de estreno - Año finalización': años, 'Generos':generos}

In [12]:
df_base = pd.DataFrame(data)

In [13]:
df_base.head()

,Titulo,Año de estreno - Año finalización,Generos
0,El año de mi graduación,2022,"Comedy, Drama"
1,Everything Everywhere All at Once,2022,"Action, Adventure, Comedy"
2,She-Hulk: Attorney at Law,2022–,"Action, Adventure, Comedy"
3,La Ciudad Perdida,2022,"Action, Adventure, Comedy"
4,This is Us,2016–2022,"Comedy, Drama, Romance"

In [14]:
df_base.shape

(50, 3)

In [15]:
for i in range (9):
    element = driver.find_element(By.LINK_TEXT, ("Next »"))
    element.click()
    time.sleep(3)
    imdbsoup = BeautifulSoup(driver.page_source)
    titulos=[element.text for element in imdbsoup.select('div.lister-item-content > h3.lister-item-header > a')]
    años=[element.text.strip('()') for element in imdbsoup.select('div.lister-item-content > h3.lister-item-header > span.lister-item-year.text-muted.unbold')]
    generos=[element.text.strip(' \n') for element in imdbsoup.select('span.genre')]
    datos = {'Titulo': titulos, 'Año de estreno - Año finalización': años, 'Generos':generos}
    df = pd.DataFrame(datos)
    df_base=df_base.append(df)

In [16]:
gen

['https://www.imdb.com/search/title?genres=comedy&explore=title_type,genres&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=3396781f-d87f-4fac-8694-c56ce6f490fe&pf_rd_r=YGNJB356SP7DCQVZXY9Z&pf_rd_s=center-1&pf_rd_t=15051&pf_rd_i=genre&ref_=ft_gnr_pr1_i_1',
 'https://www.imdb.com/search/title?genres=sci-fi&explore=title_type,genres&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=3396781f-d87f-4fac-8694-c56ce6f490fe&pf_rd_r=YGNJB356SP7DCQVZXY9Z&pf_rd_s=center-1&pf_rd_t=15051&pf_rd_i=genre&ref_=ft_gnr_pr1_i_2',
 'https://www.imdb.com/search/title?genres=horror&explore=title_type,genres&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=3396781f-d87f-4fac-8694-c56ce6f490fe&pf_rd_r=YGNJB356SP7DCQVZXY9Z&pf_rd_s=center-1&pf_rd_t=15051&pf_rd_i=genre&ref_=ft_gnr_pr1_i_3',
 'https://www.imdb.com/search/title?genres=romance&explore=title_type,genres&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=e0da8c98-35e8-4ebd-8e86-e7d39c92730c&pf_rd_r=YGNJB356SP7DCQVZXY9Z&pf_rd_s=center-2&pf_rd_t=15051&pf_rd_i=genre&ref_=ft_gnr_pr2_i_1',
 'https://www.imdb.com/search/title?genres=action&explore=title_type,genres&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=e0da8c98-35e8-4ebd-8e86-e7d39c92730c&pf_rd_r=YGNJB356SP7DCQVZXY9Z&pf_rd_s=center-2&pf_rd_t=15051&pf_rd_i=genre&ref_=ft_gnr_pr2_i_2',
 'https://www.imdb.com/search/title?genres=thriller&explore=title_type,genres&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=e0da8c98-35e8-4ebd-8e86-e7d39c92730c&pf_rd_r=YGNJB356SP7DCQVZXY9Z&pf_rd_s=center-2&pf_rd_t=15051&pf_rd_i=genre&ref_=ft_gnr_pr2_i_3',
 'https://www.imdb.com/search/title?genres=drama&explore=title_type,genres&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=f1cf7b98-03fb-4a83-95f3-d833fdba0471&pf_rd_r=YGNJB356SP7DCQVZXY9Z&pf_rd_s=center-3&pf_rd_t=15051&pf_rd_i=genre&ref_=ft_gnr_pr3_i_1',
 'https://www.imdb.com/search/title?genres=mystery&explore=title_type,genres&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=f1cf7b98-03fb-4a83-95f3-d833fdba0471&pf_rd_r=YGNJB356SP7DCQVZXY9Z&pf_rd_s=center-3&pf_rd_t=15051&pf_rd_i=genre&ref_=ft_gnr_pr3_i_2',
 'https://www.imdb.com/search/title?genres=crime&explore=title_type,genres&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=f1cf7b98-03fb-4a83-95f3-d833fdba0471&pf_rd_r=YGNJB356SP7DCQVZXY9Z&pf_rd_s=center-3&pf_rd_t=15051&pf_rd_i=genre&ref_=ft_gnr_pr3_i_3',
 'https://www.imdb.com/search/title?genres=animation&explore=title_type,genres&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=fd0c0dd4-de47-4168-baa8-239e02fd9ee7&pf_rd_r=YGNJB356SP7DCQVZXY9Z&pf_rd_s=center-4&pf_rd_t=15051&pf_rd_i=genre&ref_=ft_gnr_pr4_i_1',
 'https://www.imdb.com/search/title?genres=adventure&explore=title_type,genres&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=fd0c0dd4-de47-4168-baa8-239e02fd9ee7&pf_rd_r=YGNJB356SP7DCQVZXY9Z&pf_rd_s=center-4&pf_rd_t=15051&pf_rd_i=genre&ref_=ft_gnr_pr4_i_2',
 'https://www.imdb.com/search/title?genres=fantasy&explore=title_type,genres&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=fd0c0dd4-de47-4168-baa8-239e02fd9ee7&pf_rd_r=YGNJB356SP7DCQVZXY9Z&pf_rd_s=center-4&pf_rd_t=15051&pf_rd_i=genre&ref_=ft_gnr_pr4_i_3',
 'https://www.imdb.com/search/title?genres=comedy,romance&explore=title_type,genres&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=a581b14c-5a82-4e29-9cf8-54f909ced9e1&pf_rd_r=YGNJB356SP7DCQVZXY9Z&pf_rd_s=center-5&pf_rd_t=15051&pf_rd_i=genre&ref_=ft_gnr_pr5_i_1',
 'https://www.imdb.com/search/title?genres=action,comedy&explore=title_type,genres&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=a581b14c-5a82-4e29-9cf8-54f909ced9e1&pf_rd_r=YGNJB356SP7DCQVZXY9Z&pf_rd_s=center-5&pf_rd_t=15051&pf_rd_i=genre&ref_=ft_gnr_pr5_i_2',
 'https://www.imdb.com/search/keyword?keywords=superhero&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=a581b14c-5a82-4e29-9cf8-54f909ced9e1&pf_rd_r=YGNJB356SP7DCQVZXY9Z&pf_rd_s=center-5&pf_rd_t=15051&pf_rd_i=genre&ref_=ft_gnr_pr5_i_3']

In [17]:
for u in range (1,15):
    driver.get(str(gen[u]))
    for i in range (10):
        time.sleep(5)
        imdbsoup = BeautifulSoup(driver.page_source)
        titulos=[element.text for element in imdbsoup.select('div.lister-item-content > h3.lister-item-header > a')]
        años=[element.text.strip('()') for element in imdbsoup.select('div.lister-item-content > h3.lister-item-header > span.lister-item-year.text-muted.unbold')]
        generos=[element.text.strip(' \n') for element in imdbsoup.select('span.genre')]
        datos = {'Titulo': titulos, 'Año de estreno - Año finalización': años, 'Generos':generos}
        df = pd.DataFrame(datos)
        df_base=df_base.append(df)
        element = driver.find_element(By.LINK_TEXT, ("Next »"))
        element.click()

In [18]:
df_base.shape

(7500, 3)

,Titulo,Año de estreno - Año finalización,Generos
0,El año de mi graduación,2022,"Comedy, Drama"
1,Everything Everywhere All at Once,2022,"Action, Adventure, Comedy"
2,She-Hulk: Attorney at Law,2022–,"Action, Adventure, Comedy"
3,La Ciudad Perdida,2022,"Action, Adventure, Comedy"
4,This is Us,2016–2022,"Comedy, Drama, Romance"
...,...,...,...
45,Ultravioleta,2006,"Action, Sci-Fi"
46,Sailor Moon,1992–1997,"Animation, Action, Adventure"
47,Spider-Man,2018 Video Game,"Action, Adventure, Fantasy"
48,24: Live Another Day,2014,"Action, Crime, Drama"
49,The Starving Games,2013,"Comedy, Sci-Fi"

In [20]:
df_base.reset_index(drop=True, inplace=True)

In [21]:
df_base

,Titulo,Año de estreno - Año finalización,Generos
0,El año de mi graduación,2022,"Comedy, Drama"
1,Everything Everywhere All at Once,2022,"Action, Adventure, Comedy"
2,She-Hulk: Attorney at Law,2022–,"Action, Adventure, Comedy"
3,La Ciudad Perdida,2022,"Action, Adventure, Comedy"
4,This is Us,2016–2022,"Comedy, Drama, Romance"
...,...,...,...
7495,Ultravioleta,2006,"Action, Sci-Fi"
7496,Sailor Moon,1992–1997,"Animation, Action, Adventure"
7497,Spider-Man,2018 Video Game,"Action, Adventure, Fantasy"
7498,24: Live Another Day,2014,"Action, Crime, Drama"
7499,The Starving Games,2013,"Comedy, Sci-Fi"

In [23]:
df_base.to_csv('imdb_set_noindex.csv', index=False)